In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
g_key

'AIzaSyC8M9zo4N3OxJqZacA4dEXghLC-DMsgslE'

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Longyearbyen,SJ,2020-11-28 05:22:56,78.22,15.64,28.40,79,90,40.26
1,1,Lebu,CL,2020-11-28 05:22:56,-37.62,-73.65,51.75,90,100,3.47
2,2,Airai,TL,2020-11-28 05:22:56,-8.93,125.41,81.23,47,30,4.07
3,3,Hithadhoo,MV,2020-11-28 05:22:56,-0.60,73.08,81.77,72,31,7.92
4,4,Port Alfred,ZA,2020-11-28 05:22:56,-33.59,26.89,67.14,73,66,21.21

In [5]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Airai,TL,2020-11-28 05:22:56,-8.93,125.41,81.23,47,30,4.07
3,3,Hithadhoo,MV,2020-11-28 05:22:56,-0.60,73.08,81.77,72,31,7.92
5,5,New Norfolk,AU,2020-11-28 05:22:56,-42.78,147.06,78.01,30,72,3.00
6,6,Vaini,TO,2020-11-28 05:22:57,-21.20,-175.20,78.80,88,75,14.99
11,11,Butaritari,KI,2020-11-28 05:22:57,3.07,172.79,82.56,78,46,13.80
14,14,Rikitea,PF,2020-11-28 05:22:57,-23.12,-134.97,76.15,76,75,14.56
16,16,Atuona,PF,2020-11-28 05:22:58,-9.80,-139.03,78.69,72,60,21.03
22,22,Kapaa,US,2020-11-28 05:19:45,22.08,-159.32,77.00,65,1,20.80
23,23,Assomada,CV,2020-11-28 05:22:58,15.10,-23.68,75.20,64,75,16.11
31,31,Banda Aceh,ID,2020-11-28 05:22:59,5.56,95.32,82.35,71,99,7.31

In [13]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
2         Airai      TL     81.23  -8.93  125.41
3     Hithadhoo      MV     81.77  -0.60   73.08
5   New Norfolk      AU     78.01 -42.78  147.06
6         Vaini      TO     78.80 -21.20 -175.20
11   Butaritari      KI     82.56   3.07  172.79
14      Rikitea      PF     76.15 -23.12 -134.97
16       Atuona      PF     78.69  -9.80 -139.03
22        Kapaa      US     77.00  22.08 -159.32
23     Assomada      CV     75.20  15.10  -23.68
31   Banda Aceh      ID     82.35   5.56   95.32

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
          hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
           print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Airai,TL,81.23,-8.93,125.41,Juvinal Martin
3,Hithadhoo,MV,81.77,-0.60,73.08,Scoop Guest House
5,New Norfolk,AU,78.01,-42.78,147.06,The Shingles Riverside Cottages
6,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
11,Butaritari,KI,82.56,3.07,172.79,Isles Sunset Lodge
14,Rikitea,PF,76.15,-23.12,-134.97,Pension Maro'i
16,Atuona,PF,78.69,-9.80,-139.03,Villa Enata
22,Kapaa,US,77.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
23,Assomada,CV,75.20,15.10,-23.68,Residencial Cosmos
31,Banda Aceh,ID,82.35,5.56,95.32,OYO 884 Rumoh PMI Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)


# adding info box template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]



# marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))